body {
  font-size: 16px;
}

h1 {
  font-size: 2em; /* 32px */
}

h3 {
   font-size: 100%; /* 16px */

p {
  font-size: 100%; /* 16px */
}

a {
   text-decoration: none;
}

body {
  background-color:#FFFFFF;
  color: #000000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

h1 {
   text-align: center;
   text-transform: capitalize;
   line-height: 1.4;
}

h3 {
   text-align: center;
   text-transform: capitalize;
   line-height: 1.2
}

p {
   text align: left;
   line-height: 1.2;
}
article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

