body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 2em;
}

h1 {
  font-size: 2em; /* 32px */
  font-weight: bold;
}

h3 {
  font-size: 100%; /* 16px */
  font-weight: italic; 
  
}

p {
  font-size: 100%; /* 16px */
  font-weight: normal;
}

a {
  text-decoration: none;
  link: color:#0070BB; /* unvisited */
  visited: color:#0070BA; /* visited */
  over: color:#0070BC; /* mouse over */
  active: color:#0070BD; /* selected */
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  background: #fff url(images/instagram-pic.jpg) no-repeat, top center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

h1 {
   text-align: center;
   text-transform: capitalize;
   line-height: 1.4;
}

h3 {
   text-align: center;
   text-transform: capitalize;
   line-height: 1.2;
}

p {
   text align: left;
   line-height: 1.2;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

